{%extends 'myapp/base.html'%}
{%block content%}
<form class="bg-white shadow-md py-8 w-3/5 m-10 px-10" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="text-2xl font-bold m-10">Add Product page</h1>
    <div class="mb-5">
        <label class="block text-gray-700 text-sm font-bold mb-3" for="">Product name</label>
        <div class="shadow appearence-none border rounded py-2 px-3 mr-10 text-gray -700 w-2/5">
            {{form.name}}
        </div>
    </div>
    <div class="mb-5">
        <label class="block text-gray-700 text-sm font-bold mb-3" for="">Product price</label>
        <div class="shadow appearence-none border rounded py-2 px-3 mr-10 text-gray -700 w-2/5">
            {{form.price}}
        </div>
    </div>
    <div class="mb-5">
        <label class="block text-gray-700 text-sm font-bold mb-3" for="">Product description</label>
        <div class="shadow appearence-none border rounded py-2 px-3 mr-10 text-gray -700 w-2/5">
            {{form.description}}
        </div>
    </div>
    <div class="mb-5">
        <label class="block text-gray-700 text-sm font-bold mb-3" for="">Product image</label>
        <div class="shadow appearence-none border rounded py-2 px-3 mr-10 text-gray -700 w-2/5">
            {{form.image}}
        </div>
    </div>
    <div class="shadow hidden appearence-none border rounded py-2 px-3 mr-10 text-gray -700 w-1/4">
        {{form.seller_name}}
    </div>
    <div class="mb-5">
        <input class="bg-green-500 text-white px-5 py-2" type="submit" name="Add product" value="Add Product" id="">
    </div>
</form>
{%endblock%}
